<h1>Edit Page</h1>

<form action=http://flip3.engr.oregonstate.edu:5509/update>
    <fieldset>
      <legend>Add a Workout:</legend>
      <label for="name"></label>
      <label>Name:
          <input id="name" type="text" name="name" size="30" maxlength="100" value={{name}}>
      </label>
      <br />
      <label>Reps:
          <input id ="reps_in" type="number" name="reps" size="30" maxlength="100" value={{reps}}>
      </label>
      <br />
      <label>Weight:
          <input id ="weight_in" type="number" name="weight" size="30" maxlength="100" value={{weight}}>
      </label>
      <br />
      <label>Date:
          <input id="date_in" type="text" name="date" size="30" maxlength="100" value={{date}}>
      </label>
      <label style="display: none">
          <input id="id_in" type="number" name="id" size="30" maxlength="100" value={{id}}>
      </label>
      <br />
      <input id="lbs_true" type="radio" name="lbs" value="1" />Pounds</label>
      <input id="lbs_false" type="radio" name="lbs" value="0" />Kilos</label>
      <br />
      <input type="submit" id="submit">
    </fieldset>
</form>

<script>
    console.log("Edit page");
</script>